<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hands.K3.SCM.APP.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TrackNotificationWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Hands.K3.SCM.APP.WebService.Properties.Settings>
      <setting name="TrackWebServiceClient_TrackServiceWebReference_TrackService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/track</value>
      </setting>
      <setting name="TrackNotificationWebServiceClient_TrackNotificationWebReference_TrackService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/track</value>
      </setting>
    </Hands.K3.SCM.APP.WebService.Properties.Settings>
    <TrackNotificationWebServiceClient.Properties.Settings>
      <setting name="TrackNotificationWebServiceClient_TrackNotificationWebReference_TrackService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/track</value>
      </setting>
    </TrackNotificationWebServiceClient.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EnglishChineseSoap"/>
        <binding name="EnglishChineseSoap1"/>
        <binding name="EnglishChineseSoap2"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="EnglishChineseSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="EnglishChineseSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="EnglishChineseSoap122">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="basicHttpBinding" bindingConfiguration="EnglishChineseSoap" contract="ServiceReference1.EnglishChineseSoap" name="EnglishChineseSoap"/>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="customBinding" bindingConfiguration="EnglishChineseSoap12" contract="ServiceReference1.EnglishChineseSoap" name="EnglishChineseSoap12"/>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="basicHttpBinding" bindingConfiguration="EnglishChineseSoap1" contract="ServiceReference2.EnglishChineseSoap" name="EnglishChineseSoap1"/>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="customBinding" bindingConfiguration="EnglishChineseSoap121" contract="ServiceReference2.EnglishChineseSoap" name="EnglishChineseSoap121"/>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="basicHttpBinding" bindingConfiguration="EnglishChineseSoap2" contract="ServiceReference3.EnglishChineseSoap" name="EnglishChineseSoap2"/>
      <endpoint address="http://fy.webxml.com.cn/webservices/EnglishChinese.asmx" binding="customBinding" bindingConfiguration="EnglishChineseSoap122" contract="ServiceReference3.EnglishChineseSoap" name="EnglishChineseSoap122"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="endpoint" value="https://wsbeta.fedex.com/web-services"/>
    <add key="key" value="FIu9Pl7YnfdKeaee"/>
    <add key="password" value="6PDUthZ9P7BttS4UEnQbik4uU"/>
    <add key="accountnumber" value="510087100"/>
    <add key="meternumber" value="119050905"/>
    <add key="dutiesaccount" value="510087100"/>
    <add key="trackingnumber" value="794607386887"/>
    <add key="reference" value=""/>
    <add key="trackaccount" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
